---
import AboutHeroImage from '../assets/Grad.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a recent Graduate from Newcastle University, where I studied BsC Computer Science (Cybersecurity).
		Achieving a 2:1 by the end. I had modules covering computer architecture, software engineering,
		cybersecurity, computing fundamentals, AI / Data Science, and more.
	</p>

	<p>
		Post-University, I am looking to begin my career in this exciting and ever changing field, having a broad
		interest in all areas, even if I have a more deep love for programing / software engineering.
		Gaining independence and taking pride in what I do.
	</p>

	<p>
		As a person, I would consider myself: honest, reliable, trustworthy, and well-motivated, with a positive attitude towards any task I am given. I will not shy away from giving anything an attempt. Additionally, I would be willing to carry out any training to help me succeed. Working as part of a team is what I find comfortable, but can easily work on my own, as well as using my own initiative when needed. Learning new things is something I enjoy; however, I will not be afraid to ask for help.
	</p>

</Layout>
