---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Jayden Mehdi Project Portfolio</h1>
			<p>
				Welcome to my portfolio. This webpage serves to display some of the work / projects I have completed
				as coursework in College / University, as well as personal projects I undertook in my own time.
			</p>
		</main>
		<Footer />
	</body>
</html>
